.App {
    max-width: 1090px;
    padding: 6rem 4rem;
    margin: 0 auto;
}

.post-header-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2rem;
    color: #ff04b4;
}

h1 {
    font-size: 2.8rem;
    padding: 1rem 0;
    margin: 0;
    line-height: 1;
    color: #000;
}

h2 {
    margin: 0;
    line-height: 1;
    font-size: 1.6rem;
    padding: 1rem 0;
}

.select-container {
    display: grid;
    grid-template-columns: repeat(4, calc((100% / 4) - 1rem));
    grid-column-gap: 2rem;
    column-gap: 0rem;
    padding-bottom: 2rem;
    color: #ff04b4;
}

.selector {
    padding: 0.5rem;
    font-size: 1.4rem;
    width: 100%;
}

.inactive-color {
    color: #999;
}

.selector-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.flex {
    display: flex;
    margin: 0 10px;
}

.filter {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
}

/*.filter-button {
    border: none;
    background: #ff04b4;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    color: #FFF;
    padding: 0.5rem 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.785, .135, .15, .86);
    transition-delay: 0;
}*/

.listings-wrapper {
    width: 100%;
    display: grid;
    align-content: start;
    grid-template-columns: repeat(12,8.3333333333%);
}

.phunk-item-link {
    /* padding:0 1rem; */
    text-decoration: none;
}

.phunk-item-link-title {
    padding: 0 1rem;
    text-decoration: none;
}

.number {
    padding: 0 1rem;
}

.phunk-item {
    width: 100%;
}

.phunk-image {
    width: 100%;
    height: auto;
}

.labels-wrapper {
    padding: 1rem 0.2rem;
}

.phunk-label-detail {
    font-size: 1.4rem;
    color: #000;
    text-align: center;
    font-weight: 700;
}

.phunk-label-value {
    font-size: 1rem;
    color: #000;
    text-align: center;
}


.connect-wallet {
    display: block;
    position: fixed;
    top: 6rem;
    right: 0;
    width: 100%;
    max-width: 38rem;
    box-shadow: 15px 5px 30px 5px #0000000d;
    padding: 7px 10px 7px 75px;
    background: #fcfcfc;
    border: 1px solid #ddd;
    border-right: none;
    color: #ff04b4;
}

.hide-modal {
    transform: translate(41rem);
}

.hide-show {
    cursor: pointer;
    position: absolute;
    top: 35%;
    left: 0;
    /* font-size: 1.2rem; */
    transform: translate(-2.2rem, -50%) rotate(90deg);
    font-weight: 700;
    color: #ff04b4;
    padding: 1rem 2rem;
}

.breadcrumb {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #f5f5f5;
}

.image-wrapper {
    width: 100%;
    background-color: #ffbe00;
    display: flex;
    justify-content: center;
}

.details-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.title-color {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 4rem;
}

.pink {
    color: #ff04b4;
}

.accessories-wrapper {
    padding-top: 4rem;
}

.accessories {
    display: flex;
    justify-content: center;
}

.accessory {
    display: flex;
    flex-direction: column;
    /* font-size: 1.8rem; */
    padding-right: 2rem;
}

.value {
    font-weight: 700;
    color: #ff04b4;
}

.trait-count {
    padding-top: 1rem;
}

.transaction-wrapper {
    width: 100%;
    overflow-y: scroll
}

.connect-button {
    cursor: pointer;
}

.actions-wrapper {
    padding: 2rem 0 4rem;
}

button {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    background-color: #ff04b4;
    color: #ffffff;
    padding: 6px 10px;
    font-weight: 600;
    font-size: 17px;
    transition-property: all;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.785,.135,.15,.86);
}

.button {
    display: block;
    text-align: left;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 46rem;
}

.justify-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.input-price{
    font-size: 20px;
    padding: 0.5rem;
    text-align: center;
    margin: 0px;
}
.button-group-justify-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.min-y-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}


.middle-y-margin {
    margin-top: 13.5px;
    margin-bottom: 13.5px;
}